@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/*variables*/
:root{
    /*colores con sus respectivas transparencias*/
    --lila-solid: #cb9cf2;
    --lila-900: rgba(203, 156, 242, 0.9);
    --lila-500: rgba(203, 156, 242, 0.5);
    --lila-300: rgba(203, 156, 242, 0.3);

    --violet-solid: #9e7b9b;
    --violet-900: rgba(158, 123, 155, 0.9);
    --violet-500: rgba(158, 123, 155, 0.5);
    --violet-300: rgba(158, 123, 155, 0.3);

    --gris-solid: #616283;
    --gris-900: rgba(97, 98, 131, 0.9);
    --gris-500: rgba(97, 98, 131, 0.5);
    --gris-300: rgba(97, 98, 131, 0.3);
    
    --azul-solid: #32435d;
    --azul-900: rgba(50, 67, 93, 0.9);
    --azul-500: rgba(50, 67, 93, 0.5);
    --azul-300: rgba(50, 67, 93, 0.3);

    --black-solid: #0e1116;
    --white-solid: #ffffff;

    /*tipografia*/
    --font-poppins: 'Poppins', sans-serif;
    
    /*tamaño de fuente*/
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3.2em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmal: 1.4em;

    /*spacings*/
    --spacing-header: 2rem;
}

ul,
ol{
    list-style: none;
    padding-left: 0px;
}

a{
    text-decoration: none;
}

*{
    box-sizing: border-box;
    color: var(--white-solid);
}

html{
    font-family: var(--font-poppins);
    font-size: 62.5%;
    background-color: var(--black-solid);
}

/*estilos banner*/
header{
    background-color: var(--black-solid);
    padding: var(--spacing-header);
}

.logo{
    height: 2.6rem;
    margin-top: 3px;
}

/*estilos textos*/
h1{
    font-size: var(--font-display);
    font-weight: 500;
}

/*propuesta de nav-bar (faltan los iconos)*/

.nav-bar{
    position: fixed;
    top: 12px;
    left: 0;
    right: 0;
    width: calc(100% - 40px);
    margin: 0 auto;
    padding: 10px 100px;
    background-color: rgba(31, 31, 31, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    z-index: 1000;
    display: flex;
    justify-content:space-around;
    align-items:center;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}

.nav-bar .icons-nav ul li{
    display: inline;
    margin-right: 20px;
    font-size: var(--font-large);
}

.botones{
    display: flex;
    align-items: center;
}

.login{
    margin-left: 10px;
    padding: 6px 16px;
    border: none;
    border-radius: 30px;
    background-color:var(--lila-solid);
    color: var(--black-solid);
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: var(--font-poppins);
}

.search{
    display: inline;
    margin-right: 20px;
    font-size: var(--font-medium);
}

/*codigo tarjeta del anime*/

/*codigo carrusel*/

/*css de pagina individual*/

.banner-indv{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(#0e1116, rgba(0, 0, 0, 0.5),#0e1116), url(/img/branding/banner-anime.png) no-repeat, center center fixed;
    background-size: cover;
    padding: 15%;
}

.poster-img-indv{
    width: 240px;
    height: 364px;
}

.info-indv h1{
    margin: 0; 
}

.info-indv{
    padding-left: 70px;
}

.info-indv ul{
    display: inline-flex;
    gap: 26px;
}

.info-indv li{
    font-size: var(--font-medium);
    font-weight: 600;
    padding: 6px 12px;
    border-radius: 8px;
    border: 1px #ffffff solid;
    justify-content: center;
    align-items: center;
}

.info-indv p{
    font-size: var(--font-small);
    margin: 12px 0px 32px;
}

.like{
    font-size: var(--font-medium);
    border: 2px solid #ffffff;
    border-radius: 50%;
    padding: 4px 8px;
    cursor: pointer;
}

.add{
    margin-left: 22px;
    font-size: var(--font-medium);
    border: 2px solid #ffffff;
    border-radius: 50%;
    padding: 4px 9.5px;
    cursor: pointer;
}

.ep-list select{
    border: none;
    background-color: transparent;
    padding: 5px 25px 5px 5px;
    cursor: pointer;
    margin: 40px 0 80px 0;
    font-size: var(--font-medium);
    font-family: var(--font-poppins);
    font-weight: 600;
}

.ep-list select option{
    background-color: var(--black-solid);
    color: var(--white-solid);
}

.ep-list{
    width: 100%;
    margin: 0;
    padding: 0 3%;
}
.ep-list ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 40px;
    width: 100%;
}

.ep-list li{
    width: 100%;
    height: 212px;
}

.ep-list img{
    width: 100%;
}

.ep-list p{
    font-size: var(--font-small);
    text-align: center;
}