<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/icons/Solo-Logo.ico">
    <title>Tracker Koi</title>
</head>
<body>
 <section><!--Barra desplegable de filtro--><!--cambiar a div-->
    <ul>
        <li>
            <a href="#">CATEGORIA ▽</a>
            <ul>
                <li><a href ="#">Accion</a></li>
                <li><a href ="#">Aventura</a></li>
                <li><a href ="#">Comedia</a></li>S
                <li><a href ="#">Ciencia ficcion</a></li>
                <li><a href ="#">Fatntasia</a></li>
                <li><a href ="#">Terror</a></li>
                <li><a href ="#">Romance</a></li>
            </ul> 
        </li>
        <li>
            <a href="#">ORDENAR POR ▽</a>
            <ul>
                <li><a href ="#">Alfabeticamente</a></li>
                <li><a href ="#">Mas viejo a mas nuevo</a></li>
                <li><a href ="#">Mas nuevo a mas viejo</a></li>
            </ul>
        </li>
        <li>
            <a href="#">ESTADO ▽</a>
            <ul>
                <li><a href ="#">En emision</a></li>
                <li><a href ="#">Terminados</a></li>
            </ul>
        </li><li>
            <a href="#">AÑO ▽</a>
            <ol>
                <li><a href ="#">2013</a></li>
                <li><a href ="#">2014</a></li>
                <li><a href ="#">2015</a></li>
                <li><a href ="#">2016</a></li>
                <li><a href ="#">2017</a></li>
                <li><a href ="#">2018</a></li>
                <li><a href ="#">2019</a></li>
                <li><a href ="#">2020</a></li>
                <li><a href ="#">2021</a></li>
                <li><a href ="#">2022</a></li>
                <li><a href ="#">2023</a></li>
                <li><a href ="#">2024</a></li>
            </ol> 
        </li>
     </ul>
 </section>
 <section>
    <h3>Bienvenido a nuestro Catalogo!</h3><!--Subtitulo catalogo-->
    <p>Filtra los resultados para conseguir tu próximo anime favorito.</p>
    <article>
        <!--aqui van las cards de los animes-->
    </article>
 </section>


</body>