<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/all.min.css">
  <link rel="icon" href="/img/icons/solo-logo.ico">
  <title>Jujutsu Kaisen | Tracker Koi</title>
</head>
<body>
  <header class="header"> <!--MENU DE NAVEGACION-->
    <nav class="nav container">
        <a href="/index.html">
            <img class="logo"
              src="/img/logo-trackerkoi/white-logo.png"
              alt="logo de Tracker Koi">
        </a>
        <div class="nav__menu" id="nav-menu">
            <a href="/index.html">
                <img class="logo-menu-resp"
                  src="/img/logo-trackerkoi/white-logo.png"
                  alt="logo de Tracker Koi">
            </a>
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="/index.html" class="nav__link">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    <span>HOME</span></a>
                </li>
                <li class="nav__item">
                    <a href="/pages/views/catalogo.html" class="nav__link">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    <span>CATALOGO</span></a>
                </li>
                <li class="nav__item">
                    <a href="/pages/views/perfil.html" class="nav__link">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    <span>MI PERFIL</span></a>
                </li>
            </ul>
            <div class="nav__close" id="nav-close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
            <div class="botones">
                <a class="search"><i class="fa-solid fa-magnifying-glass"></i></a>
                <div class="login">
                  <a href="/pages/admin/registro.html">INICIO DE SESIÓN</a></div>
            </div>
        </div>
        <div class="nav__toggle" id="nav-toggle">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
    </nav>
  </header>
  <section class="banner-indv"> <!--HERO SECTION-->
    <div class="poster-div">
      <img class="poster-img-indv"
        src="/img/posters-animes/jujutsu-kaisen.jpg"
        alt="Poster de Jujutsu Kaisen">
    </div>
    <div class="info-indv">
      <h1>Jujutsu Kaisen</h1>
      <p>
        Yuuji Itadori es un estudiante de instituto con unas habilidades
        físicas excepcionales. Todos los días, como rutina, va al hospital a
        visitar a su abuelo enfermo y decide apuntarse al club de ocultismo
        del instituto para no dar un palo al agua? Sin embargo, un buen día el
        sello del talismán que se hallaba escondido en su instituto se rompe,
        y comienzan a aparecer unos monstruos. Ante este giro de los
        acontecimientos, Itadori decide adentrarse en el instituto para salvar
        a sus compañeros. ¿Qué le deparará el destino?
      </p>
      <ul>
        <li><a href="">2020</a></li>
        <li><a href="">Accion</a></li>
        <li><a href="">Terror</a></li>
        <li><a href="">Finalizado</a></li>
      </ul>
      <div>
        <a class="like"><i class="fa-regular fa-heart"></i></a>
        <a class="add"><i class="fa-regular fa-plus"></i></a>
      </div>
    </div>
  </section>
  <section class="ep-list"> <!--GRID DE EPISODIOS-->
      <select>
        <option>Temporada 1 &mdash; 12 Episodios</option>
        <option>Temporada 2 &mdash; 12 Episodios</option>
        </select>
    <ul>
      <li class="ep-card">
        <a href="">
          <img src="/img/lista-episodios/ep1.png" alt="caption espisodio 01">
          <p class="ep-title">E01 - T01 | Ryomen Sukuna</p>
        </a>
        <div class="ep-description">
          <p class="title">Jujutsu Kaisen</p>
          <h4>E01 - T01 Ryomen Sukuna</h4>
          <p>Yuuji es un joven que posee un talismán muy poderoso y él ni siquiera es consciente de ello. Pero un día se topa con Fushiguro y su vida dará un cambio radical.</p>
          <div class="visto-eye"><i class="fa fa-eye" aria-hidden="true" style="font-size:var(--font-small); color:var(--lila-solid);"></i><p style="color: var(--lila-solid); font-size: var(--font-medium); font-weight: 500;">Visto</p></div>
        </div>
      </li>
      <li class="ep-card">
        <a href="">
          <img src="/img/lista-episodios/ep2.png" alt="caption espisodio 02">
          <p class="ep-title">E02 - T01 | Por mí</p>
        </a>
        <div class="ep-description">
          <p class="title">Jujutsu Kaisen</p>
          <h4>E02 - T01 Por mí</h4>
          <p>El hecho de comerse el dedo de Sukuna le supondrá un grave problema a Yuuji, puesto que ahora tienen que ejecutarlo. Pero tiene un modo temporal de salvarse.</p>
          <div class="visto-eye"><i class="fa fa-eye" aria-hidden="true" style="font-size:var(--font-small); color:var(--lila-solid);"></i><p style="color: var(--lila-solid); font-size: var(--font-medium); font-weight: 500;">Visto</p></div>
        </div>
      </li>
      <li class="ep-card">
        <a href="">
          <img src="/img/lista-episodios/ep3.png" alt="caption espisodio 03">
          <p class="ep-title">E03 - T01 | Chica de acero</p>
        </a>
        <div class="ep-description">
          <p class="title">Jujutsu Kaisen</p>
          <h4>E03 - T01 Chica de acero</h4>
          <p>Yuuji deberá demostrar que es apto para formar parte de la Preparatoria de Hechicería. Además, conocerán a la tercera integrante del equipo.</p>
          <div class="visto-eye"><i class="fa fa-eye" aria-hidden="true" style="font-size:var(--font-small); color:var(--lila-solid);"></i><p style="color: var(--lila-solid); font-size: var(--font-medium); font-weight: 500;">Visto</p></div>
        </div>
      </li>
      <li class="ep-card">
        <a href="">
          <img src="/img/lista-episodios/ep4.png" alt="caption espisodio 04">
          <p class="ep-title">E04 - T01 | El vientre maldito I</p>
        </a>
        <div class="ep-description">
          <p class="title">Jujutsu Kaisen</p>
          <h4>E04 - T01 El vientre maldito I</h4>
          <p>Los muchachos deberán partir a una misión de la que por el momento se desconoce el riesgo. Y cabe la posibilidad de que el peligro sea tremendo, mayor del que puedan manejar.</p>
          <div class="visto-eye"><i class="fa fa-eye" aria-hidden="true" style="font-size:var(--font-small); color:var(--lila-solid);"></i><p style="color: var(--lila-solid); font-size: var(--font-medium); font-weight: 500;">Visto</p></div>
        </div>
      </li>
      <li class="ep-card">
        <a href="">
          <img src="/img/lista-episodios/ep5.png" alt="caption espisodio 05">
          <p class="ep-title">E05 - T01 | El vientre maldito II</p>
        </a>
        <div class="ep-description">
          <p class="title">Jujutsu Kaisen</p>
          <h4>E05 - T01 El vientre maldito II</h4>
          <p>Sukuna se apodera del cuerpo de Yuuji y se niega por completo a devolvérselo. Aunque sabe que tarde o temprano lo conseguirá, así que le dejará un regalo.</p>
          <div class="visto-eye"><i class="fa fa-eye" aria-hidden="true" style="font-size:var(--font-small); color:var(--lila-solid);"></i><p style="color: var(--lila-solid); font-size: var(--font-medium); font-weight: 500;">Visto</p></div>
        </div>
      </li>
      <li class="ep-card">
        <a href="">
          <img src="/img/lista-episodios/ep6.png" alt="caption espisodio 06">
          <p class="ep-title">E06 - T01 | Tras la lluvia</p>
        </a>
        <div class="ep-description">
          <p class="title">Jujutsu Kaisen</p>
          <h4>E06 - T01 Tras la lluvia</h4>
          <p>Gojo se siente arrepentido por la muerte del bastón de tigre. Fushiguro y Wild Rose, que se hunden en la muerte de sus amigos, comienzan un entrenamiento especial con los estudiantes de segundo grado para volverse más fuertes.</p>
          <div class="visto-eye"><i class="fa fa-eye" aria-hidden="true" style="font-size:var(--font-small); color:var(--lila-solid);"></i><p style="color: var(--lila-solid); font-size: var(--font-medium); font-weight: 500;">Visto</p></div>
        </div>
      </li>
      <li class="ep-card">
        <a href="">
          <img src="/img/lista-episodios/ep7.png" alt="caption espisodio 07">
          <p class="ep-title">E07 - T01 | Asalto</p>
        </a>
        <div class="ep-description">
          <p class="title">Jujutsu Kaisen</p>
          <h4>E07 - T01 Asalto</h4>
          <p>Gojou recibe una visita muy desagradable y poderosa. Pero no parece perder la calma en absoluto ante el devastador poder de su enemigo.</p>
          <div class="visto-eye"><i class="fa fa-eye" aria-hidden="true" style="font-size:var(--font-small); color:var(--lila-solid);"></i><p style="color: var(--lila-solid); font-size: var(--font-medium); font-weight: 500;">Visto</p></div>
        </div>
      </li>
      <li class="ep-card">
        <a href="">
          <img src="/img/lista-episodios/ep8.jpg" alt="caption espisodio 08">
          <p class="ep-title">E08 - T01 | Aburrimiento</p>
        </a>
        <div class="ep-description">
          <p class="title">Jujutsu Kaisen</p>
          <h4>E08 - T01 Aburrimiento</h4>
          <p>Antes del evento de intercambio se produce un pequeño encontronazo entre algunos de los futuros participantes.</p>
          <div class="visto-eye"><i class="fa fa-eye" aria-hidden="true" style="font-size:var(--font-small); color:var(--lila-solid);"></i><p style="color: var(--lila-solid); font-size: var(--font-medium); font-weight: 500;">Visto</p></div>
        </div>
      </li>
      <li class="ep-card">
        <a href="">
          <img src="/img/lista-episodios/ep9.png" alt="caption espisodio 09">
          <p class="ep-title">E09 - T01 | Donnadies y castigo</p>
        </a>
        <div class="ep-description">
          <p class="title">Jujutsu Kaisen</p>
          <h4>E09 - T01 Donnadies y castigo</h4>
          <p>Tras la masacre que se produce en el cine, Yuuji acompaña a un veterano a investigar la situación.</p>
          <div class="visto-eye"><i class="fa fa-eye" aria-hidden="true" style="font-size:var(--font-small); color:var(--lila-solid);"></i><p style="color: var(--lila-solid); font-size: var(--font-medium); font-weight: 500;">Visto</p></div>
        </div>
      </li>
      <li class="ep-card">
        <a href="">
          <img src="/img/lista-episodios/ep10.png" alt="caption espisodio 10">
          <p class="ep-title">E10 - T01 | Mutación pasiva</p>
        </a>
        <div class="ep-description">
          <p class="title">Jujutsu Kaisen</p>
          <h4>E10 - T01 Mutación pasiva</h4>
          <p>La investigación de la masacre en el cine lleva a Yuuji a encontrarse con Junpei, el humano que se relaciona con Mahito.</p>
          <div class="visto-eye"><i class="fa fa-eye" aria-hidden="true" style="font-size:var(--font-small); color:var(--lila-solid);"></i><p style="color: var(--lila-solid); font-size: var(--font-medium); font-weight: 500;">Visto</p></div>
        </div>
      </li>
      <li class="ep-card">
        <a href="">
          <img src="/img/lista-episodios/ep11.png" alt="caption espisodio 11">
          <p class="ep-title">E11 - T01 | De mente cerrada</p>
        </a>
        <div class="ep-description">
          <p class="title">Jujutsu Kaisen</p>
          <h4>E11 - T01 De mente cerrada</h4>
          <p>Yuuji va conociendo poco a poco a Junpei y cree que incluso podrían ser amigos. Pero se da la casualidad de que Mahito tiene otros planes.</p>
          <div class="visto-eye"><i class="fa fa-eye" aria-hidden="true" style="font-size:var(--font-small); color:var(--lila-solid);"></i><p style="color: var(--lila-solid); font-size: var(--font-medium); font-weight: 500;">Visto</p></div>
        </div>
      </li>
      <li class="ep-card">
        <a href="">
          <img src="/img/lista-episodios/ep12.png" alt="caption espisodio 12">
          <p class="ep-title">E12 - T01 | Para ti, algún día</p>
        </a>
        <div class="ep-description">
          <p class="title">Jujutsu Kaisen</p>
          <h4>E12 - T01 Para ti, algún día</h4>
          <p>Yuuji cree que todavía puede convencer a Junpei para que no haga una masacre en la escuela. ¿Será capaz de frenar sus ansias de sangre?</p>
          <div class="visto-eye"><i class="fa fa-eye" aria-hidden="true" style="font-size:var(--font-small); color:var(--lila-solid);"></i><p style="color: var(--lila-solid); font-size: var(--font-medium); font-weight: 500;">Visto</p></div>
        </div>
      </li>
    </ul>
  </section>
  <section> <!--ANIMES SIMILARES-->
    <article class="sub-section">
      <h3>Animes Similares</h3>
      <p>Descubre nuevos titulos según tus preferencias</p>
    </article>
    <ul class="similares">
      <li class="card-anime-small">
        <a href="">
          <picture>
            <img src="/img/posters-animes/haikyu.jpg" alt="poster de Haikyu!">
          </picture>
          <h3>Haikyuu!</h3>
        </a>
      </li>
      <li class="card-anime-small">
        <a href="">
          <picture>
            <img src="/img/posters-animes/jujutsu-kaisen.jpg" alt="Poster de Jujutsu kaisen">                                
          </picture>
          <h3>Jujutsu Kaisen</h3>
        </a>
      </li>
      <li class="card-anime-small">
        <a href="">
          <picture>
            <img src="/img/posters-animes/one-piece.jpg" alt="Poster de One Piece">
          </picture>
          <h3>One Piece</h3>
        </a>
      </li>
      <li class="card-anime-small">
        <a href="">
          <picture>
            <img src="/img/posters-animes/demon-slayer.jpg" alt="Poster demon-slayer">
          </picture>
          <h3>Kimetsu No Yaiba</h3>
        </a>
      </li>
      <li class="card-anime-small">
        <a href="">
          <picture>
              <img src="/img/posters-animes/full-metal-alchemist.jpg" alt="Poster full-metal-alchemist">
          </picture>
          <h3>Full Metal Alchemist Brotherhood</h3>
        </a>
      </li>
      <li class="card-anime-small">
        <a href="">
          <picture>
            <img src="/img/posters-animes/haikyu.jpg" alt="poster de Haikyu!">
          </picture>
          <h3>Haikyuu!</h3>
        </a>
      </li>
    </ul>
  </section>
  <footer> <!--FOOTER-->
    <div class="footer-content">
      <ul class="nav-footer">
        <li>
            <a href="/index.html">
              <img src="/img/logo-trackerkoi/solo-logo.png" alt="logo de Tracker Koi" class="logo-footer">
            </a>
        </li>
        <li><a href="/index.html">Home</a></li>
        <li>|</li>
        <li><a href="/pages/views/catalogo.html">Catalogo</a></li>
        <li><a href="/pages/views/perfil.html">Perfil</a></li>
        <li><a href="">Terminos y condiciones</a></li>
        <li><a href="">Politica de privacidad</a></li>
        <li><a href="">Contacto</a></li>
        <li>|</li>
        <li><a href="/pages/admin/registro.html">SIGN UP</a></li>
        <li><a href="">LOGIN</a></li>
      </ul>
      <ul class="nav-footer-social logos">
        <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href=""><i class="fa-brands fa-x-twitter"></i></a></li>
        <li><a href=""><i class="fa-brands fa-twitch"></i></a></li>
      </ul>
    </div>
    <div class="copyrigth">
      <p>Tracker Koi &copy; 2024 - Hecho por Grupo 15</p>
    </div>
  </footer>
  <script src="/js/main.js"></script>
</body>
</html>
