<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="/img/icons/solo-logo.ico" />
    <title>Tracker Koi</title>
  </head>
</html>
<article>
  <picture
    ><img src="/img/branding/Banner Anime.png" alt="Fondo de Jujutsu Kaisen"
  /></picture>
  <div>
    <img
      src="/img/Posters Animes/Jujutsu kaisen.jpg"
      alt="Poster de Jujutsu Kaisen"
    />
  </div>
  <div>
    <h1>Jujutsu Kaisen</h1>
    <ul>
      <li><a href="">2020</a></li>
      <li><a href="">Accion</a></li>
      <li><a href=""></a>Terror</li>
      <li><a href=""></a>Finalizado</li>
    </ul>
    <p>
      Yuuji Itadori es un estudiante de instituto con unas habilidades físicas
      excepcionales. Todos los días, como rutina, va al hospital a visitar a su
      abuelo enfermo y decide apuntarse al club de ocultismo del instituto para
      no dar un palo al agua? Sin embargo, un buen día el sello del talismán que
      se hallaba escondido en su instituto se rompe, y comienzan a aparecer unos
      monstruos. Ante este giro de los acontecimientos, Itadori decide
      adentrarse en el instituto para salvar a sus compañeros. ¿Qué le deparará
      el destino?
    </p>
    <div>
      <button><a href="">Agregar a Favoritos</a></button>
      <button><a href="">Agregar a Lista</a></button>
    </div>
    <section>
      <article>
        <select>
          <option>Temporada 1</option>
          <option>Temporada 2</option>
        </select>
      </article>
    </section>
  </div>
</article>
