<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="icon" href="/img/icons/solo-logo.ico">
    <title>Jujutsu Kaisen | Tracker Koi</title>
  </head>
  <body>
    <header>
      <!--menu de navegación-->
      <nav class="nav-bar">
        <a href="/index.html">
          <img class="logo"
            src="/img/logo-trackerkoi/white-logo.png"
            alt="logo de Tracker Koi">
        </a>
        <div class="icons-nav">
          <!--agregar iconos-->
          <ul>
            <li>
              <a href="/index.html"><i class="fa-solid fa-house" style="color: #cb9cf2;"></i></a>
            </li>
            <li>
              <a href="/pages/views/catalogo.html"><i class="fa-solid fa-bars"></i></a>
            </li>
            <li>
              <a href=""><i class="fa-solid fa-circle-user"></i></a>
              <!--definir ruta-->
            </li>
          </ul>
        </div>
        <div class="botones">
          <a class="search"><i class="fa-solid fa-magnifying-glass"></i></button></a>
          <button class="login">INICIO DE SESIÓN</button>
        </div>
      </nav>
    </header>
    <!--hero section-->
    <section class="banner-indv">
      <div>
        <img
          src="/img/posters-animes/jujutsu-kaisen.jpg"
          alt="Poster de Jujutsu Kaisen" class="poster-img-indv">
      </div>
      <div class="info-indv">
        <h1>Jujutsu Kaisen</h1>
        <ul>
          <li><a href="">2020</a></li>
          <li><a href="">Accion</a></li>
          <li><a href="">Terror</a></li>
          <li><a href="">Finalizado</a></li>
        </ul>
        <p>
          Yuuji Itadori es un estudiante de instituto con unas habilidades
          físicas excepcionales. Todos los días, como rutina, va al hospital a
          visitar a su abuelo enfermo y decide apuntarse al club de ocultismo
          del instituto para no dar un palo al agua? Sin embargo, un buen día el
          sello del talismán que se hallaba escondido en su instituto se rompe,
          y comienzan a aparecer unos monstruos. Ante este giro de los
          acontecimientos, Itadori decide adentrarse en el instituto para salvar
          a sus compañeros. ¿Qué le deparará el destino?
        </p>
        <div>
          <a class="like"><i class="fa-regular fa-heart"></i></a>
          <a class="add"><i class="fa-regular fa-plus"></i></a>
        </div>
      </div>
    </section>
    <!--seccion grilla de episodios-->
    <section class="ep-list">
        <select>
         <option>Temporada 1 &mdash; 12 Episodios</option>
         <option>Temporada 2 &mdash; 12 Episodios</option>
         </select>
      <ul>
        <li>
          <a href="">
            <img src="/img/lista-episodios/ep1.png" alt="caption espisodio 01">
            <p>E01 - T01 | Ryomen Sukuna</p>
          </a>
        </li>
        <li>
          <a href="">
            <img src="/img/lista-episodios/ep2.png" alt="caption espisodio 02">
            <p>E02 - T01 | Por mí</p>
          </a>
        </li>
        <li>
          <a href="">
            <img src="/img/lista-episodios/ep3.png" alt="caption espisodio 03">
            <p>E03 - T01 | Chica de acero</p>
          </a>
        </li>
        <li>
          <a href="">
            <img src="/img/lista-episodios/ep4.png" alt="caption espisodio 04">
            <p>E04 - T01 | El vientre maldito I</p>
          </a>
        </li>
        <li>
          <a href="">
            <img src="/img/lista-episodios/ep5.png" alt="caption espisodio 05">
            <p>E05 - T01 | El vientre maldito II</p>
          </a>
        </li>
        <li>
          <a href="">
            <img src="/img/lista-episodios/ep6.png" alt="caption espisodio 06">
            <p>E06 - T01 | Tras la lluvia</p>
          </a>
        </li>
        <li>
          <a href="">
            <img src="/img/lista-episodios/ep7.png" alt="caption espisodio 07">
            <p>E07 - T01 | Asalto</p>
          </a>
        </li>
        <li>
          <a href="">
            <img src="/img/lista-episodios/ep8.jpg" alt="caption espisodio 08">
            <p>E08 - T01 | Aburrimiento</p>
          </a>
        </li>
        <li>
          <a href="">
            <img src="/img/lista-episodios/ep9.png" alt="caption espisodio 09">
            <p>E09 - T01 | Donnadies y castigo</p>
          </a>
        </li>
        <li>
          <a href="">
            <img src="/img/lista-episodios/ep10.png" alt="caption espisodio 10">
            <p>E10 - T01 | Mutación pasiva</p>
          </a>
        </li>
        <li>
          <a href="">
            <img src="/img/lista-episodios/ep11.png" alt="caption espisodio 11">
            <p>E11 - T01 | De mente cerrada</p>
          </a>
        </li>
        <li>
          <a href="">
            <img src="/img/lista-episodios/ep12.png" alt="caption espisodio 12">
            <p>E12 - T01 | Para ti, algún día</p>
          </a>
        </li>
      </ul>
    </section>
  </body>
</html>
