<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/icons/solo-logo.ico">
    <link rel="stylesheet" href="/css/all.min.css">
    <title>Tracker Koi</title>
</head>
<body>
    <!--NAV BAR-->
    <header class="header"> 
        <nav class="nav container">
            <a href="/index.html">
                <img class="logo"
                  src="/img/logo-trackerkoi/white-logo.png"
                  alt="logo de Tracker Koi">
            </a>
            <div class="nav__menu" id="nav-menu">
                <a href="/index.html">
                    <img class="logo-menu-resp"
                      src="/img/logo-trackerkoi/white-logo.png"
                      alt="logo de Tracker Koi">
                </a>
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="/index.html" class="nav__link">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        <span>HOME</span></a>
                    </li>
                    <li class="nav__item">
                        <a href="/pages/views/catalogo.html" class="nav__link">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        <span>CATALOGO</span></a>
                    </li>
                    <li class="nav__item">
                        <a href="/pages/views/perfil.html" class="nav__link">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        <span>MI PERFIL</span></a>
                    </li>
                </ul>
                <div class="nav__close" id="nav-close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <div class="botones">
                    <a class="search"><i class="fa-solid fa-magnifying-glass"></i></a>
                <button class="login">
                    <a href="/pages/admin/registro.html">INICIO DE SESIÓN</a></button>
                </div>
            </div>
            <div class="nav__toggle" id="nav-toggle">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
        </nav>
    </header>
    <section class="banner-perfil"> <!--HERO SECTION-->
        <div class="info-perfil">
            <img class="avatar"
             src="/img/Perfil.png"
             alt="Imagen de perfil">
            <h1>Juan Perez</h1>
        </div>
    </section>
    <main>
    <section class="ep-list"> <!--VISTOS RECIENTEMENTE-->
        <article class="sub-section">
            <h3>Episodios vistos recientemente</h3>
        </article>
        <ul>
            <li class="ep-card">
                <a href="">
                <img src="/img/lista-episodios/ep1.png" alt="caption espisodio 01">
                <p class="ep-title">E01 - T01 | Ryomen Sukuna</p>
                </a>
            </li>
            <li class="ep-card">
                <a href="">
                <img src="/img/lista-episodios/ep2.png" alt="caption espisodio 02">
                <p class="ep-title">E02 - T01 | Por mí</p>
                </a>
            </li>
            <li class="ep-card">
                <a href="">
                <img src="/img/lista-episodios/ep3.png" alt="caption espisodio 03">
                <p class="ep-title">E03 - T01 | Chica de acero</p>
                </a>
            </li>
            <li class="ep-card">
                <a href="">
                <img src="/img/lista-episodios/ep4.png" alt="caption espisodio 04">
                <p class="ep-title">E04 - T01 | El vientre maldito I</p>
                </a>
            </li>
        </ul>
        <section> <!--ANIMES SIMILARES-->
            <article class="sub-section">
              <h3>Mis animes favoritos</h3>
            </article>
            <ul class="similares">
              <li class="card-anime-small">
                <a href="">
                  <picture>
                    <img src="/img/posters-animes/haikyu.jpg" alt="poster de Haikyu!">
                  </picture>
                  <h3>Haikyuu!</h3>
                </a>
              </li>
              <li class="card-anime-small">
                <a href="">
                  <picture>
                    <img src="/img/posters-animes/jujutsu-kaisen.jpg" alt="Poster de Jujutsu kaisen">                                
                  </picture>
                  <h3>Jujutsu Kaisen</h3>
                </a>
              </li>
              <li class="card-anime-small">
                <a href="">
                  <picture>
                    <img src="/img/posters-animes/one-piece.jpg" alt="Poster de One Piece">
                  </picture>
                  <h3>One Piece</h3>
                </a>
              </li>
              <li class="card-anime-small">
                <a href="">
                  <picture>
                    <img src="/img/posters-animes/demon-slayer.jpg" alt="Poster demon-slayer">
                  </picture>
                  <h3>Kimetsu No Yaiba</h3>
                </a>
              </li>
              <li class="card-anime-small">
                <a href="">
                  <picture>
                      <img src="/img/posters-animes/full-metal-alchemist.jpg" alt="Poster full-metal-alchemist">
                  </picture>
                  <h3>Full Metal Alchemist Brotherhood</h3>
                </a>
              </li>
              <li class="card-anime-small">
                <a href="">
                  <picture>
                    <img src="/img/posters-animes/haikyu.jpg" alt="poster de Haikyu!">
                  </picture>
                  <h3>Haikyuu!</h3>
                </a>
              </li>
            </ul>
          </section>
        <!-- <article class="subtitulo-descrip">
            <h3>Mis Listas</h3>
        </article>
        <section class="cards-mobile">
            <article class="card">
                <img src="/img/branding/banner-anime.png" alt="" class="background">
                <div class="card-content">
                    <svg>...</svg>
                    <h3 class="tittle">Sad :(</h3>
                </div>
                <div class="backdrop"></div>
            </article>

            <article class="card">
                <img src="/img/branding/banner-perfil.png" alt="" class="background">
                <div class="card-content">
                    <svg>...</svg>
                    <h3 class="tittle">Para volver a ver</h3>
                </div>
                <div class="backdrop"></div>
            </article>

            <article class="card">
                <img src="/img/branding/div-bento1.png" alt="" class="background">
                <div class="card-content">
                    <svg>...</svg>
                    <h3 class="tittle">Joyitas</h3>
                </div>
                <div class="backdrop"></div>
            </article>

            <article class="card">
                <img src="/img/branding/div-bento2.png" alt="" class="background">
                <div class="card-content">
                    <svg>...</svg>
                    <h3 class="tittle">Por ver</h3>
                </div>
                <div class="backdrop"></div>
            </article>

            <article class="card">
                <img src="/img/branding/div-bento2.png" alt="" class="background">
                <div class="card-content">
                    <svg>...</svg>
                    <h3 class="tittle">Preferidos</h3>
                </div>
                <div class="backdrop"></div>
            </article>
        </section>-->
    </main>
    <footer> <!--FOOTER-->
        <div class="footer-content">
          <ul class="nav-footer">
            <li>
                <a href="/index.html">
                  <img src="/img/logo-trackerkoi/solo-logo.png" alt="logo de Tracker Koi" class="logo-footer">
                </a>
            </li>
            <li><a href="/index.html">Home</a></li>
            <li>|</li>
            <li><a href="/pages/views/catalogo.html">Catalogo</a></li>
            <li><a href="/pages/views/perfil.html">Perfil</a></li>
            <li><a href="">Terminos y condiciones</a></li>
            <li><a href="">Politica de privacidad</a></li>
            <li><a href="">Contacto</a></li>
            <li>|</li>
            <li><a href="/pages/admin/registro.html">SIGN UP</a></li>
            <li><a href="">LOGIN</a></li>
          </ul>
          <ul class="nav-footer-social logos">
            <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href=""><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href=""><i class="fa-brands fa-twitch"></i></a></li>
          </ul>
        </div>
        <div class="copyrigth">
          <p>Tracker Koi &copy; 2024 - Hecho por Grupo 15</p>
        </div>
      </footer>
    <script src="/js/main.js"></script>
</body>
</html>