<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/icons/solo-logo.ico">
    <link rel="stylesheet" href="/css/all.min.css">
    <title>Tracker Koi</title>
</head>
<body>
    <header>
        <!--menu de navegación-->
      <nav class="nav-bar">
        <a href="/index.html">
          <img class="logo"
            src="/img/logo-trackerkoi/white-logo.png"
            alt="logo de Tracker Koi">
        </a>
        <div class="icons-nav">
          <ul>
            <li>
              <a href="/index.html"><i class="fa-solid fa-house" style="color: #cb9cf2;"></i></a>
            </li>
            <li>
              <a href="/pages/views/catalogo.html"><i class="fa-solid fa-bars"></i></a>
            </li>
            <li>
              <a href=""><i class="fa-solid fa-circle-user"></i></a>
            </li>
          </ul>
        </div>
        <div class="botones">
          <a class="search"><i class="fa-solid fa-magnifying-glass"></i></a>
          <button class="login">INICIO DE SESIÓN</button>
        </div>
      </nav>
    </header>
   
   <section class="perfil-info"> <!--desarrollar clase-->
        <div>
            <img
              src="/img/capitulos/fav-cap10.jpeg"
              alt="Poster banner">
          </div>
          <div>
            <img
             src="/img/lista-episodios/ep1.png"
             alt="Imagen de perfil">
            </div>
            <div class="nombre-perfil">
                <h1>Juan Perez</h1>
            </div>
    </section>
<main>
    <section class="secciones-perfil">
    <article class="subtitulo-descrip"><!--Subtitulo catalogo-->
        <h3>Mis animes Preferidos</h3>
    </article>
    <ul class="lista-cards-perfil"><!--desarrollar clase-->
        <li class="anime-card-small">
            <a href="">
                <picture>
                    <img src="/img/posters-animes/haikyu.jpg" alt="poster de Haikyu!">
                </picture>
                <h3>Haikyuu!</h3>
            </a>
        </li>
        
        <li class="anime-card-small">
            <a href="">
                <picture>
                    <img src="/img/posters-animes/jujutsu-kaisen.jpg" alt="Poster de Jujutsu kaisen">                                
                </picture>
                <h3>Jujutsu Kaisen</h3>
            </a>
        </li>

        <li class="anime-card-small">
            <a href="">
                <picture>
                    <img src="/img/posters-animes/one-piece.jpg" alt="Poster de One Piece">
                </picture>
                <h3>One Piece</h3>
            </a>
        </li>

        <li class="anime-card-small">
            <a href="">
                <picture>
                    <img src="/img/posters-animes/demon-slayer.jpg" alt="Poster demon-slayer">
                </picture>
                <h3>Kimetsu No Yaiba</h3>
            </a>
        </li>

        <li class="anime-card-small">
            <a href="">
                <picture>
                    <img src="/img/posters-animes/full-metal-alchemist.jpg" alt="Poster full-metal-alchemist">
                </picture>
                <h3>Full Metal Alchemist Brotherhood</h3>
            </a>
        </li>
    </ul>

    <section class="secciones-perfil">
        <article class="subtitulo-descrip"><!--Subtitulo catalogo-->
            <h3>Episodios vistos recientemente</h3>
        </article>
        <ul>
            <li class="ep-card-perfil">
              <a href="">
                <img src="/img/lista-episodios/ep1.png" alt="caption espisodio 01">
                <p class="ep-title">E01 - T01 | Ryomen Sukuna</p>
              </a>
            </li>
        </ul>
        <ul>
            <li class="ep-card-perfil">
              <a href="">
                <img src="/img/lista-episodios/ep1.png" alt="caption espisodio 01">
                <p class="ep-title">E01 - T01 | Ryomen Sukuna</p>
              </a>
            </li>
        </ul>
        <ul>
            <li class="ep-card-perfil">
              <a href="">
                <img src="/img/lista-episodios/ep1.png" alt="caption espisodio 01">
                <p class="ep-title">E01 - T01 | Ryomen Sukuna</p>
              </a>
            </li>
        </ul>
        <ul>
            <li class="ep-card-perfil">
              <a href="">
                <img src="/img/lista-episodios/ep1.png" alt="caption espisodio 01">
                <p class="ep-title">E01 - T01 | Ryomen Sukuna</p>
              </a>
            </li>
        </ul>
        <ul>
            <li class="ep-card-perfil">
              <a href="">
                <img src="/img/lista-episodios/ep1.png" alt="caption espisodio 01">
                <p class="ep-title">E01 - T01 | Ryomen Sukuna</p>
              </a>
            </li>
        </ul>
    </section>
    <section class="secciones-perfil">
        <article class="subtitulo-descrip"><!--Subtitulo catalogo-->
            <h3>Mis Listas</h3>
        </article>
        <section class="cards-mobile">
            <article class="card">
                <img src="/img/branding/banner-anime.png" alt="" class="background">
                <div class="card-content">
                    <svg>...</svg>
                    <h3 class="tittle">Sad :(</h3>
                </div>
                <div class="backdrop"></div>
            </article>

            <article class="card">
                <img src="/img/branding/banner-perfil.png" alt="" class="background">
                <div class="card-content">
                    <svg>...</svg>
                    <h3 class="tittle">Para volver a ver</h3>
                </div>
                <div class="backdrop"></div>
            </article>

            <article class="card">
                <img src="/img/branding/div-bento1.png" alt="" class="background">
                <div class="card-content">
                    <svg>...</svg>
                    <h3 class="tittle">Joyitas</h3>
                </div>
                <div class="backdrop"></div>
            </article>

            <article class="card">
                <img src="/img/branding/div-bento2.png" alt="" class="background">
                <div class="card-content">
                    <svg>...</svg>
                    <h3 class="tittle">Por ver</h3>
                </div>
                <div class="backdrop"></div>
            </article>

            <article class="card">
                <img src="/img/branding/div-bento2.png" alt="" class="background">
                <div class="card-content">
                    <svg>...</svg>
                    <h3 class="tittle">Preferidos</h3>
                </div>
                <div class="backdrop"></div>
            </article>
        </section>
    </section>



        

</section>
</main>




</body>